@charset "UTF-8";
html, body {
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
}
@media screen and (min-width: 768px) and (min-height: 600px) {
  body {
    font-size: 1.5rem;
  }
}

header {
  background-color: #579C87;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  text-align: center;
  letter-spacing: -0.05rem;
}

section {
  height: max-content;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #579C87;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
}
footer div {
  margin: 0.8rem 0.5rem;
}

a {
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  text-align: center;
}

article {
  height: 56vh;
  width: 40vh;
  margin: 1rem;
  box-shadow: 1px 1px 5px #EFEFEF, -1px 1px 5px #EFEFEF, 1px -1px 5px #EFEFEF, -1px -1px 5px #EFEFEF;
}

.next {
  height: 2.5rem;
  width: 13rem;
  background-color: #579C87;
  border-radius: 0.5rem;
  margin: 1rem 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next p {
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  text-align: center;
  display: block;
  font-size: 1.3rem;
}

.note-enchantée {
  background: #FCDFDB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.note-enchantée h2 {
  display: block;
  background-image: linear-gradient(90deg, #3C1218, #3C1218);
  color: white;
  text-shadow: 10px 10px 10px black;
  font-family: "Devonshire", sans-serif;
}
.note-enchantée p {
  display: block;
  color: #3C1218;
  font-family: "Itim", sans-serif;
  font-size: 2.5rem;
}

.chic-française {
  background: #FFF5FE;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chic-française h2 {
  display: block;
  background-image: linear-gradient(90deg, #C77412, #905BFD);
  color: white;
  text-shadow: 10px 10px 10px black;
  font-family: "Croissant One", sans-serif;
}
.chic-française p {
  display: block;
  color: #C77412;
  font-family: "DM Serif Text", sans-serif;
  font-size: 2.5rem;
}

.délice-papille {
  background: #F9F9F9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.délice-papille h2 {
  display: block;
  background-image: linear-gradient(90deg, #0632DF, #0B89FB);
  color: white;
  text-shadow: 10px 10px 10px black;
  font-family: "Dancing Script", sans-serif;
}
.délice-papille p {
  display: block;
  color: #0632DF;
  font-family: "Nanum Pen Script", sans-serif;
  font-size: 2.5rem;
}

.palette-goût {
  background: #FDFFFD;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.palette-goût h2 {
  display: block;
  background-image: linear-gradient(90deg, #3D9339, #BFFF7E);
  color: white;
  text-shadow: 10px 10px 10px black;
  font-family: "Kaushan Script", sans-serif;
}
.palette-goût p {
  display: block;
  color: #3D9339;
  font-family: "Nanum Pen Script", sans-serif;
  font-size: 2.5rem;
}

/*# sourceMappingURL=main.css.map */
