@keyframes menu {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    opacity: 0.5;
  }
}
@keyframes next {
  0%, 40%, 60%, 80% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-50%);
  }
  50%, 70%, 90% {
    transform: translateY(-10%);
  }
  90% {
    transform: scale();
  }
}
@keyframes footer {
  50% {
    transform: translateX(2%);
  }
}
html, body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}
@media screen and (min-width: 768px) and (min-height: 600px) {
  body {
    font-size: 21px;
  }
}

header {
  background-color: #579C87;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  text-align: center;
  letter-spacing: -0.05rem;
}

section {
  height: max-content;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #579C87;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
}
footer div {
  margin: 0.8rem 0.5rem;
}
footer div:hover {
  animation: footer 100ms 2 reverse;
}

a {
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
}

article {
  height: 56vh;
  width: 40vh;
  margin: 1rem;
  box-shadow: 1px 1px 5px #EDEDED, -1px 1px 5px #EDEDED, 1px -1px 5px #EDEDED, -1px -1px 5px #EDEDED;
}
@media (orientation: portrait) and (min-width: 768px) {
  article {
    height: 56vw;
    width: 40vw;
  }
}

.next {
  width: fit-content;
  height: 2.5rem;
  background-color: #579C87;
  border-radius: 0.5rem;
  margin: 1rem 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next div {
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  text-align: center;
  display: block;
  font-size: 1.3em;
  margin: 0.5rem;
}
.next .pnt1 {
  animation: next 3s ease-in-out 200ms infinite;
  margin: 0.3rem;
}
.next .pnt2 {
  animation: next 3s ease-in-out 400ms infinite;
  margin: 0.3rem;
}
.next .pnt3 {
  animation: next 3s ease-in-out 600ms infinite;
  margin: 0.3rem;
}

.note-enchantee {
  background: #FCDFDB;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-enchantee h2 {
  font-size: 1.5em;
  display: block;
  background: linear-gradient(90deg, #3C1218, #3C1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Devonshire", sans-serif;
  margin: 0;
  padding: 0.5em;
}
.note-enchantee p {
  display: block;
  color: #3C1218;
  font-family: "Itim", sans-serif;
  font-size: 2em;
  margin: 0;
}
@media (max-width: 320px) {
  .note-enchantee {
    font-size: 0.7em;
  }
}
@media (max-width: 480px) and (min-width: 321px) {
  .note-enchantee {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) and (min-height: 320px) and (min-width: 481px) {
  .note-enchantee {
    font-size: 1em;
  }
}
@media (max-width: 1024px) and (min-height: 768px) and (min-width: 769px) {
  .note-enchantee {
    font-size: 1.5em;
  }
}
@media (min-width: 1025px) and (min-height: 1024px) {
  .note-enchantee {
    font-size: 2em;
  }
}

@media (orientation: portrait) and (min-width: 480px) {
  a .note-enchantee {
    font-size: 1.5em;
  }
}
a .note-enchantee:hover * {
  animation: menu 1s forwards;
}

.chic-francaise {
  background: #FFF5FE;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chic-francaise h2 {
  font-size: 1.5em;
  display: block;
  background: linear-gradient(90deg, #C67412, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant One", sans-serif;
  margin: 0;
  padding: 0.5em;
}
.chic-francaise p {
  display: block;
  color: #C67412;
  font-family: "DM Serif Text", sans-serif;
  font-size: 2em;
  margin: 0;
}
@media (max-width: 320px) {
  .chic-francaise {
    font-size: 0.7em;
  }
}
@media (max-width: 480px) and (min-width: 321px) {
  .chic-francaise {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) and (min-height: 320px) and (min-width: 481px) {
  .chic-francaise {
    font-size: 1em;
  }
}
@media (max-width: 1024px) and (min-height: 768px) and (min-width: 769px) {
  .chic-francaise {
    font-size: 1.5em;
  }
}
@media (min-width: 1025px) and (min-height: 1024px) {
  .chic-francaise {
    font-size: 2em;
  }
}

@media (orientation: portrait) and (min-width: 480px) {
  a .chic-francaise {
    font-size: 1.5em;
  }
}
a .chic-francaise:hover * {
  animation: menu 1s forwards;
}

.delice-papilles {
  background: #EDEFEF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delice-papilles h2 {
  font-size: 1.5em;
  display: block;
  background: linear-gradient(90deg, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", sans-serif;
  margin: 0;
  padding: 0.5em;
}
.delice-papilles p {
  display: block;
  color: #0228DD;
  font-family: "Nanum Pen Script", sans-serif;
  font-size: 2em;
  margin: 0;
}
@media (max-width: 320px) {
  .delice-papilles {
    font-size: 0.7em;
  }
}
@media (max-width: 480px) and (min-width: 321px) {
  .delice-papilles {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) and (min-height: 320px) and (min-width: 481px) {
  .delice-papilles {
    font-size: 1em;
  }
}
@media (max-width: 1024px) and (min-height: 768px) and (min-width: 769px) {
  .delice-papilles {
    font-size: 1.5em;
  }
}
@media (min-width: 1025px) and (min-height: 1024px) {
  .delice-papilles {
    font-size: 2em;
  }
}

@media (orientation: portrait) and (min-width: 480px) {
  a .delice-papilles {
    font-size: 1.5em;
  }
}
a .delice-papilles:hover * {
  animation: menu 1s forwards;
}

.palette-gout {
  background: #FDFFFD;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.palette-gout h2 {
  font-size: 1.5em;
  display: block;
  background: linear-gradient(90deg, #3D9339, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", sans-serif;
  margin: 0;
  padding: 0.5em;
}
.palette-gout p {
  display: block;
  color: #3D9339;
  font-family: "Nanum Pen Script", sans-serif;
  font-size: 2em;
  margin: 0;
}
@media (max-width: 320px) {
  .palette-gout {
    font-size: 0.7em;
  }
}
@media (max-width: 480px) and (min-width: 321px) {
  .palette-gout {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) and (min-height: 320px) and (min-width: 481px) {
  .palette-gout {
    font-size: 1em;
  }
}
@media (max-width: 1024px) and (min-height: 768px) and (min-width: 769px) {
  .palette-gout {
    font-size: 1.5em;
  }
}
@media (min-width: 1025px) and (min-height: 1024px) {
  .palette-gout {
    font-size: 2em;
  }
}

@media (orientation: portrait) and (min-width: 480px) {
  a .palette-gout {
    font-size: 1.5em;
  }
}
a .palette-gout:hover * {
  animation: menu 1s forwards;
}

@media (max-width: 480px) {
  .menu--smallwp {
    font-size: 2em;
  }
}
.note-enchantee img {
  width: 2.5em;
}

.note-enchantee p {
  font-style: italic;
  font-size: 1.5em;
}

.chic-francaise h2 {
  font-size: 1em;
}

.chic-francaise p {
  font-size: 1.5em;
}

.delice-papilles p {
  font-style: italic;
}

.palette-gout p {
  font-style: italic;
}

.pages {
  font-family: "Kalam", sans-serif;
  flex-direction: column;
  justify-content: start;
}
.pages > h2 {
  font-family: "Montserra", sans-serif;
  margin-bottom: 1rem;
}
.pages article {
  width: 80vw;
  min-height: 75vh;
  height: fit-content;
  margin: auto;
  padding: 3rem 2%;
}
.pages article h2 {
  font-size: 2.5em;
}
.pages article table {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.pages article table td {
  font-size: 1.2em;
  padding: 0.7rem;
  text-align: left;
  vertical-align: top;
  width: max-content;
}
.pages article table td:nth-child(2) {
  font-size: 1.5em;
  text-align: right;
}
@media (max-width: 500px) {
  .pages article {
    width: 87vw;
    padding: 2rem 2%;
  }
  .pages article table {
    padding: 0;
  }
}

.table--title {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table--title img {
  width: 30vw;
}

.entree img + div, .plat img + div, .dessert img + div {
  position: relative;
}
.entree img + div::after, .plat img + div::after, .dessert img + div::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: solid 2px black;
  transform-origin: 0;
  transform: scaleX(0);
  transition: transform 500ms;
}
.entree:hover img + div::after, .plat:hover img + div::after, .dessert:hover img + div::after {
  transform: scaleX(1);
}

.pages .note-enchantee > img {
  width: 4em;
}
.pages .note-enchantee h2 {
  font-weight: normal;
  font-family: "Devonshire", sans-serif;
  padding-top: 0;
}
.pages .note-enchantee table tr td {
  padding: 1rem;
}
.pages .note-enchantee .article--footer {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8em;
  margin-top: 3em;
}
.pages .note-enchantee .article--footer img {
  width: 1em;
  display: inline-block;
  vertical-align: middle;
}

.pages .chic-francaise h2 {
  font-size: 2em;
}
.pages .chic-francaise td {
  font-family: "DM Serif Text", sans-serif;
}
.pages .chic-francaise .table--title {
  font-family: "DM Serif Text", sans-serif;
  font-weight: normal;
  padding-bottom: 1em;
}
.pages .chic-francaise .entree {
  color: #C67412;
}
.pages .chic-francaise .entree img + div::after {
  border-color: #C67412;
}
.pages .chic-francaise .plat {
  color: #A56799;
}
.pages .chic-francaise .plat img + div::after {
  border-color: #A56799;
}
.pages .chic-francaise .dessert {
  color: #6E4CCC;
}
.pages .chic-francaise .dessert img + div::after {
  border-color: #6E4CCC;
}

/*# sourceMappingURL=main.css.map */
