// index
article {
    height: 56vh;
    width: 40vh;
    margin: 1rem;
    box-shadow: 1px 1px 5px $color-shadow, -1px 1px 5px $color-shadow, 1px -1px 5px $color-shadow, -1px -1px 5px $color-shadow;
    @media (orientation: portrait) and (min-width: 768px) {
        height: 56vw;
        width: 40vw;
    }
}

.next {
    width: fit-content;
    height: 2.5rem;
    background-color: $color-prime;
    border-radius: 0.5rem;
    margin: 1rem 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
    @include text;
    display: block;
    font-size: 1.3em;
    margin: 0 2rem;
    }
}


@include resto;


.note-enchantee img {
    width: 2.5em;
}
.note-enchantee p {
    font-style: italic;
    font-size: 1.5em;
}


.chic-francaise h2 {
    font-size: 1em;
}
.chic-francaise p {
    font-size: 1.5em;
}


.delice-papilles p {
    font-style: italic;
}


.palette-gout p {
    font-style: italic;
}


// Pages Resto
.pages {
    font-family: 'Kalam', sans-serif;
    flex-direction: column;
    justify-content: start;
    >h2 {
        font-family: 'Montserra', sans-serif;
        margin-bottom: 1rem;
    }
    article {
        width: 80vw;
        min-height: 75vh;
        height: fit-content;
        margin: auto;
        padding: 3rem 2%;
        h2 {
            font-size: 2.5em;
        }
        table {
            padding-top: 2rem;
            td {
                font-size: 1.2em;
                padding: 0.7rem;
                text-align: left;
                vertical-align: top;
                width: max-content;
            }
            td:nth-child(1) {
                padding-left: 3rem;
            }
            td:nth-child(2) {
                font-size: 1.5em;
                padding-right: 3rem;
            }
        }
        .table--title {
            >td {
                font-weight: bold;
                font-size: 1.2em;
                >div {
                    padding-top: 1em;
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                    width: 20vw;
                    }
                }
            }
        }
        @media screen and (max-width:500px) {
            width: 90vw;
            padding: 2rem 2%;
            table {
                padding: 0;
                td {
                    padding: 0.5rem;
                }
                td:nth-child(1) {
                    padding-left: 1rem;
                }
                td:nth-child(2) {
                    padding-right: 1rem;
                }
            }
            .table--title {
                td {
                    padding: 0;
                }
            }
        }
    }
}

.pages .note-enchantee {
    > img {
        width: 4em;
    }
    h2 {
        font-weight: normal;
        font-family: 'Devonshire', sans-serif;
        padding-top: 0;
    }
    table tr td {
        padding: 1rem;
    }
    .table--title>td {
        font-size: 1.5em;
    }
    .article--footer {
        display: flex;
        justify-content: flex-start;
        font-size: 0.8em;
        margin-top: 3em;
        img {
            width: 1em;
            display: inline-block;
            vertical-align: middle;
        }
    }
}


.pages .chic-francaise {
    h2 {
        font-size: 2em;
    }
    td {
        font-family: 'DM Serif Text', sans-serif;
    }
    .table--title>td {
            font-weight: normal;
            padding-bottom: 1em;
    }
    &--table {
        &__entree{
            color: #C67412;
        }
        &__plat{
            color: #A56799;
        }
        &__dessert{
            color: #6E4CCC;
        }
    }
}