// index
article {
    height: 56vh;
    width: 40vh;
    margin: 1rem;
    box-shadow: 1px 1px 5px $color-shadow, -1px 1px 5px $color-shadow, 1px -1px 5px $color-shadow, -1px -1px 5px $color-shadow;
}

#next {
    height: 2.5rem;
    background-color: $color-prime;
    border-radius: 0.5rem;
    margin: 1rem 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
    @include text;
    display: block;
    font-size: 1.3rem;
    margin: 0 2rem;
    }
}

@include resto;

.pages {
    flex-direction: column;
    justify-content: start;
    > h2 {
        margin-bottom: 0;
    }
    article {
        width: 80vw;
        min-height: 75vh;
    }
}

#note-enchantée img {
    width: 2.5rem;
}
#note-enchantée p {
    font-style: italic;
}


#chic-française h2 {
    font-size: 1rem;
}


#délice-papille p {
    font-style: italic;
}


#palette-goût p {
    font-style: italic;
}