$color-prime: #579C87;
$color-text: #FDCB46;
$color-page: #353535;
$color-shadow: #EDEDED;

@mixin text {
    color: $color-text;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem;
    text-align: center;
}

$resto: (
    note-enchantee: ( 
        color-bg:#FCDFDB,
        color-menu-1:#3C1218,
        color-menu-2:#3C1218,
        font-title:'Devonshire',
        font-menu:'Itim',
    ),
    chic-francaise: ( 
        color-bg:#FFF5FE,
        color-menu-1:#C67412,
        color-menu-15:#A56799,
        color-menu-2:#6E4CCC,
        font-title:'Croissant One',
        font-menu:'DM Serif Text',
    ),
    delice-papilles: ( 
        color-bg:#EDEFEF,
        color-menu-1:#0228DD,
        color-menu-2:#229DF9,
        font-title:'Dancing Script',
        font-menu:'Nanum Pen Script',
    ),
    palette-gout: ( 
        color-bg:#FDFFFD,
        color-menu-1:#3D9339,
        color-menu-2:#BFFF7E,
        font-title:'Kaushan Script',
        font-menu:'Nanum Pen Script',
    ),
);

@mixin resto {
    @each $name, $style in $resto {
        .#{$name} {
            background: map-get($style, color-bg);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 1.5em;
                display: block;
                background: linear-gradient(90deg, map-get($style, color-menu-1), map-get($style, color-menu-2));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: map-get($style, font-title), sans-serif;
                margin: 0;
                padding: 0.5em;
            }
            p {
                display: block;
                color: map-get($style, color-menu-1);
                font-family: map-get($style, font-menu), sans-serif;
                font-size: 2em;
                margin: 0;
            }
            @media (max-width: 320px) {
                font-size: 0.7em;
            }
            @media (max-width: 480px) and (min-width: 321px) {
                font-size: 0.8em;
            }
            @media (max-width: 768px) and (min-height: 320px) and (min-width: 481px) {
                font-size: 1em;
            }
            @media (max-width: 1024px) and (min-height: 768px) and (min-width: 769px) {
                font-size: 1.5em;
            }
            @media (min-width: 1025px) and (min-height: 1024px) {
                font-size: 2em;
            }
        }
        a .#{$name} {
            @media (orientation:portrait) and (min-width: 480px) {
                font-size: 1.5em; 
            }
            &:hover * {
                animation: menu-in 1s forwards;
            }
            * {
                animation: menu-out 500ms;
            }
        }
    }
}

@keyframes menu-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        opacity: 0.5;
    }
}

@keyframes menu-out {
    from {
        transform: scale(1.2);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
    }
}

@keyframes next {
    0%, 40%, 60%, 80% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50%);
    }
    50%, 70%, 90% {
        transform: translateY(-10%);
    }
}

@keyframes footer {
    50% {
        transform: translateX(2%);
    }
}